.PrivacyPolicyWrapper {
  padding: 3.2rem;
  margin-top: 10rem;
}

.PrivacyPolicyWrapper a {
  color: #1b6de7;
  margin-left: 1rem;
}
.PrivacyPolicyWrapper p,
li,
strong {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.6px;
  list-style-type: none;
  color: #2b2b2b;
}
.PrivacyPolicyWrapper li {
  display: flex;
  align-items: flex-start;
}

.PrivacyPolicyWrapper li::before {
  content: "\2022";
  color: #000;
  font-size: 1.2em;
  margin-right: 10px;
}

.PrivacyPolicyWrapper strong {
  color: #2b2b2b;
}
.PrivacyPolicyWrapper > header > h1 {
  font-size: 3.8rem;
  margin-bottom: 1rem;
}
.PrivacyPolicyWrapper > header {
  margin-bottom: 20px;
}
.content_one {
  margin-bottom: 2rem;
}
.content_one > h2,
.content_three > h3,
.content_four > h1,
.content_five > h1,
.content_six > h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}
.content_one > div {
  margin-left: 2rem;
}
.content_two,
.content_three,
.content_four,
.content_five,
.content_six {
  margin-bottom: 2rem;
}
.content_four > p:not(:last-child) {
  margin-bottom: 2rem;
}

.content_six > h1 {
  margin-bottom: 1rem;
}

.content_six .list {
  margin-top: 2rem;
  max-width: 900px;
}

.content_six .list > li:not(:last-child) {
  margin-bottom: 2rem;
}

.content_six .list > .rights {
  margin-left: 2rem;
}
.note {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}
.note > strong {
  font-weight: 700;
}
.note > p {
  text-decoration: underline;
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact > h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact > div {
  display: flex;
  font-size: 15px;
  flex-wrap: wrap;
  letter-spacing: -0.6px;
  /* flex-direction: column; */
  gap: 0.5rem;
}
@media screen and (max-width: 1024px) {
  .PrivacyPolicyWrapper {
    padding-inline: 1.8rem;
  }
  .PrivacyPolicyWrapper > header > h1 {
    font-size: 3.5rem;
  }
  .content_one > div,
  .content_six .list > .rights {
    margin-left: 0.5rem;
  }

  .content_one > h2,
  .content_three > h3,
  .content_four > h1,
  .content_five > h1,
  .content_six > h1 {
    font-size: 2rem;
  }
  .content_two,
  .content_three,
  .content_four,
  .content_five,
  .content_six {
    margin-bottom: 1.5rem;
  }
  .PrivacyPolicyWrapper p,
  li,
  strong {
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  .PrivacyPolicyWrapper > header > h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 420px) {
  .PrivacyPolicyWrapper > header > h1 {
    font-size: 2.5rem;
  }
  .note > p {
    font-size: 1.4rem;
    line-height: 1.2;
  }
  .content_one > h2,
  .content_three > h3,
  .content_four > h1,
  .content_five > h1,
  .content_six > h1 {
    font-size: 1.8rem;
  }
}
