.faqsWrapper {
  padding: 8rem 2rem;
}

.faqsWrapper > header {
  text-align: center;
  margin-bottom: 20px;
}

.faqsDropdown {
  margin-top: 2rem;
  border: 0.2rem solid #0b5cd5;
  color: #212529;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  line-height: 26px;
  border-radius: 4px;
  max-width: 215px;
  margin: 0 auto;
}
.currentFaq {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  justify-content: center;
}
.currentFaq > button {
  color: #0b5cd5;
  background: none;
  border: none;
  font-size: 1.6rem;
}
.dropdown {
  background: #fff;
  border: 0.2rem solid #0b5cd5;
  width: 100%;
  position: absolute;
  display: flex;
  left: 0%;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  top: 101%;
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: center;
  flex-direction: column;
}
.dropdown > span {
  font-size: 1.4rem;
  letter-spacing: -0.9px;
  cursor: pointer;
}
.dropdown > span:not(:last-child) {
  border-bottom: solid 0.1rem #0b5cd5;
}
.dropdown > span:hover {
  background: #0b5cd5;
  color: #fff;
}
.faqsWrapper {
}

.faqsWrapper > header {
  position: relative;
  width: 100%;
}
.faqsWrapper > header > i {
  position: absolute;
  color: #0b5cd5;
  font-size: 3.2rem;
  top: 0;
  left: 0;
}
.faqsWrapper > header > i:first-child {
  top: 8%;
  right: -47%;
}
.faqsWrapper > header > i:nth-child(2) {
  right: 0%;
  transform: rotate(25deg);
  top: -40%;
}
.faqsWrapper > header > i:nth-child(3) {
  right: 10%;
  transform: rotate(25deg);
  top: -40%;
}
.faqsWrapper > header > i:nth-child(4) {
  top: 8%;
  left: 24.5%;
}

.faqsWrapper > header > h1 {
  font-size: 4rem;
  color: #000;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.faqsWrapper > header > p {
  font-size: 20px;
  max-width: 652px;
  color: #212529;
  text-align: center;
  margin: 0 auto;

  letter-spacing: -0.9px;
  line-height: 30px;
}
.faqs {
  display: flex;
  max-width: 94rem;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 64px;
  /* height: 100vh; */
  gap: 64px;
}
.faqs > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  gap: 2rem;
  border-bottom: 0.1rem solid #0b5cd5;
}

.question > h1 {
  font-size: 1.8rem;
  color: #212529;
  color: #0b5cd5;
  font-weight: 700;
  line-height: 26px;
}
.question > button {
  background: none;
  border: none;
  cursor: pointer;
}
.answer {
  color: #212529;
  font-size: 1.6rem;
  letter-spacing: -0.9px;
  font-weight: 400;
  line-height: 25px;
  overflow: hidden;
  max-height: 0;
}

.expanded .answer {
  max-height: 100%;
  padding: 16px 0;
}
@media screen and (max-width: 1024px) {
  .faqsWrapper {
    padding: 4rem 2rem;
  }
  .faqs {
    flex-direction: column;
    margin-top: 50px;
    gap: 15px;
  }
  .faqsWrapper > header > h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
  .faqsWrapper > header > i {
    display: none;
  }
  .faqs > div {
    width: 100%;
  }
  .faqsWrapper > header > p {
    font-size: 18px;
  }
}
@media screen and (max-width: 650px) {
  .faqsWrapper > header > h1 {
    font-size: 3.2rem;
    margin-bottom: 10px;
  }
  .faqsWrapper > header > p {
    line-height: 30px;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .faqsDropdown {
    /* max-width: unset; */
    /* width: 100%; */
  }
  .faqsWrapper > header > h1 {
    font-size: 3rem;
  }
  .question > h1 {
    font-size: 1.6rem;
  }
}
