.modalWrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  padding: 0 2rem;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.modalOverlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 12;
  width: 100%;
  height: 100%;
}
.modal {
  background: #fff;
  width: 45rem;
  border-radius: 7px;
  background: #fff;
  padding: 32px;
  z-index: 15;
  position: relative;
}

.modal > h1 {
  color: #0b5cd5;
  font-size: 3rem;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -0.4px;
}
.input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.input_container > input {
  padding: 1.2rem;
  border-radius: 4px;
  border: 1px solid #222;
}

.input_container > input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4f87dc;
}

.input_container > label {
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.9px;
  line-height: 26px;
}
.cta {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cta > button {
  width: 50%;
  font-size: 16px;
  padding: 9px;
  cursor: pointer;
  /* font-weight: 600; */
}

.cta > button:first-child {
  background: #fff;
  border-radius: 6px;
  border: #0b5cd5 0.2rem solid;
  color: #0b5cd5;
  text-align: center;

  letter-spacing: -0.4px;
  line-height: 28px;
}
.cta > button:last-child {
  border-radius: 6px;
  line-height: 28px;
  background: #0b5cd5;
  color: #fff;
  text-align: center;
  border: none;
  letter-spacing: -0.4px;
}
.cta > button:first-child:hover {
  animation: pulse 0.3s;
  box-shadow: 0 0 0 0.5em transparent;
}
.cta > button:last-child:hover {
  animation: pulse 0.3s;
  box-shadow: 0 0 0 0.5em transparent;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #0b5cd5;
  }
}
.modal > button {
  position: absolute;
  right: 6px;
  top: 6px;
  background: none;
  cursor: pointer;
  border: none;
}
.modal > button > svg {
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 420px) {
  .modal > button > svg {
    height: 20px;
    width: 20px;
  }

  .modal {
    padding: 24px 20px;
    /* width: 100%; */
  }
  .modal > h1 {
    font-size: 2.4rem;
    line-height: 34px;
  }
  .input_container > label {
    font-size: 12px;
  }
  .cta {
    gap: 10px;
  }
  .cta > button {
    padding: 4px;
    font-size: 14px;
  }
}
