.manageTagsWrapper {
  padding: 2rem 0;
  width: 100%;
  padding-right: 4rem;
  padding-left: 2rem;
  height: 100%;
  overflow-y: auto;
}
.manageTagsWrapper > header {
  width: 100%;
  margin-bottom: 4rem;
  border-bottom: 1px solid #cccc;
}
.manageTagsWrapper > header > h1 {
  font-weight: 400;
  font-size: 3.2rem;
  padding-block: 20px;
}
.searchContainer {
  margin: 20px 0;
  width: 50%;
  position: relative;
}
.searchIcon {
  position: absolute;
  left: 1.2rem;
  font-size: 1.5rem;
  top: 1.2rem;
  color: #333;
}
.searchContainer > input {
  padding: 10px;
  padding-left: 3rem;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 16px;
}

.searchContainer > input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #8fdff8;
}
.notag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}
.notag > h1 {
  font-weight: 400;
}

.manageTagsWrapper > form {
  background: #fff;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  margin-bottom: 3rem;
}
.manageTagsWrapper > form > h1 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}
.manageTagsWrapper > form > div > input {
  border: 1px solid #888;
  padding: 1rem 1.5rem;
}
.manageTagsWrapper > form > div > button {
  border-radius: 3rem;
  padding: 1.4rem;
  font-size: 1.4rem;
  border: none;
  color: #00365a;
  background: transparent;
  border: #00365a solid 1px;
  margin-left: 2rem;
  cursor: pointer;
}
.utilButton {
  background-color: #184f90;
  padding: 1.5rem 3.5rem;
  border-radius: 5rem;
  border: none;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-left: auto;
  margin-bottom: 2rem;
  display: flex;
  font-size: 1.6rem;
}
.manageTagsWrapper > form > div > button:hover {
  background: #00365a;
  color: #fff;
}
