.logo {
  height: 50px;
  width: 50px;
}
.navbar__links {
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px 40px;

  background: #fff;
  position: fixed;
  top: 0;
  font-family: "Space Grotesk", sans-serif;
  z-index: 10;
  justify-content: space-between;
  width: 100%;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #fff;
}

.navbar__links > a:link,
.navbar__links > a:visited {
  text-decoration: none;
  font-size: 20px;
  color: #212529;
  font-size: 1.8rem;
}
