.timer__overview {
  background: rgb(235, 239, 240);
}
.timer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  max-width: 50rem;
  margin: 0 auto;
}
.timer {
  background-color: #3461b4;
  border: 5px solid #2b4e8e;
  height: 280px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMzNDYxYjQiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzM5NjdjMSIvPjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjMzk2N2MxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
  background-size: 100%;
  background-image: -moz-linear-gradient(
    315deg,
    #3461b4 50%,
    #3967c1 51%,
    #3967c1 51%
  );
  background-image: -webkit-linear-gradient(
    315deg,
    #3461b4 50%,
    #3967c1 51%,
    #3967c1 51%
  );
  background-image: linear-gradient(
    135deg,
    #3461b4 50%,
    #3967c1 51%,
    #3967c1 51%
  );
  background-size: 174px 174px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.reminder_interval {
  background: white;
  height: 105px;
  display: flex;
  position: relative;
  border-bottom: 3px solid #2b4e8e;
}

.reminder_interval .standing.active {
  background-image: url(../utils/imgs/standed_active.png);
  color: #ffffff;
}
.reminder_interval .seated.active {
  background-image: url(../utils/imgs/seated_active.png);
  color: #ffffff;
}
.standing {
  border-right: 2px solid #2b4e8e;
  background-image: url(../utils/imgs/standed.png);
  font-family: "helvetica_neue_regular";
  font-size: 21px;
  color: #cedaf1;
  text-align: center;
  padding-top: 73px;
  width: 129px;
  height: 102px;
  cursor: pointer;
}
.seated {
  left: 134px;
  border-right: 2px solid #2b4e8e;
  background-image: url("../utils/imgs/seated.png");
  font-family: "helvetica_neue_regular";
  font-size: 21px;
  color: #cedaf1;
  text-align: center;
  padding-top: 73px;
  width: 129px;
  height: 102px;
  cursor: pointer;
}

.reminder_display {
  font-family: "digital-7_monomono";
  font-size: 72px;
  color: #e5e5e5;
  height: 100%;
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40%;
}
.interval_value {
  position: absolute;
  top: 0;
  right: 0;
  color: #4070c6;
}
.reminder {
  position: relative;
}
.reminder_buttons {
  position: absolute;
  top: 9%;
  right: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interval_text {
  text-transform: capitalize;
  line-height: 20px;
  font-family: "helvetica_neue_regular";
  font-size: 21px;
  color: #85a4da;
  width: 100%;
  position: absolute;
  bottom: 5%;
  /* top: 9%; */
  left: 60%;
}
.reminder_button_up,
.reminder_button_down {
  background-image: url(../utils/imgs/transparent-s652f07523c.png);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}
.reminder_button_up:disabled {
  background-position: 0 -1104px;
  height: 40px;
  width: 40px;
}
.reminder_button_down:disabled {
  background-position: 0 -1024px;
  height: 40px;
  width: 40px;
}
.reminder_button_up {
  background-position: 0 -1064px;
  height: 40px;
  width: 40px;
  display: block;
  margin-bottom: 1px;
  border: none;
  background-color: transparent;
}
.reminder_button_down {
  background-position: 0 -984px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
}

/*  */
.timer_display {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  padding: 2rem;
}

.time {
  display: flex;
  margin-left: 10px;
  /* height: 100%; */
  /* justify-content: center; */
  align-items: center;
}

.minutes {
  display: flex;
  font-family: "digital-7_monomono";
  font-size: 130px;
  color: #fff;
  /* color: #4070c6; */
  color: #e5e5e5;
  color: #4070c6;
  /* left: 100%; */
  flex-direction: column;
  position: relative;
}
.min {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}
.dots {
  font-size: 50px;
  color: #fff;
  position: absolute;
  bottom: 20%;
  right: 55%;
  font-family: "helvetica_neue_regular";
}
.seconds {
  display: flex;
  font-family: "digital-7_monomono";
  font-size: 65px;
  flex-direction: column;
  color: #fff;
  position: absolute;
  color: #4070c6;
  bottom: 17%;
  right: 42%;
}
.minutes > span {
  font-size: 18px;
  text-align: center;
  font-family: "helvetica_neue_regular";
  color: #6388d1;
  position: absolute;
  bottom: -10%;
  right: 34%;
}

.seconds > span {
  font-size: 18px;
  text-align: center;
  font-family: "helvetica_neue_regular";
  color: #6388d1;
  position: absolute;
  bottom: -25%;
  right: 3%;
}
.sec {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}
.timer_options {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 35px;
  width: 133px;
  height: 134px;
}
.counting_img {
  background-position: 0 -478px;
  height: 70px;
  width: 80px;
  left: 30px;
  background-image: url(../utils/imgs/transparent-s652f07523c.png);
  background-repeat: no-repeat;
  top: 5px;
  display: none;
}
.start_button {
  cursor: pointer;
  background-position: -1px -1349.99px;
  height: 135px;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  width: 135px;
  background-image: url(../utils/imgs/transparent-s652f07523c.png);
}
.start_button:hover {
  background-position: 0 -1208px;
}
.reset_button {
  color: white;
  border: none;
  padding: 10px;
  min-width: 90px;
  font-size: 35px !important;
  text-transform: uppercase;
  line-height: 22px;
  cursor: pointer;
  text-align: center;
  font-family: "helvetica_neue_regular";
  -moz-border-radius: 0px / 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px / 0px;
  background: #003da5;
  border: 2px solid #003da5;
  background-image: linear-gradient(
    to bottom,
    #1a51ae 50%,
    #003da5 51%,
    #003da5 51%
  );
  display: none;
}
.active .counting_img {
  display: block;
}
.active .reset_button {
  display: block;
}
.active .start_button {
  display: none;
}
/*  */

.start_message {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 42px;
  font-weight: 300;
  margin-left: 13px;
  text-shadow: 2px 2px 4px rgba(54, 78, 22, 0.65);
}
.start_message > span {
  color: #4b6c1f;
  font-family: "helvetica_neue_bold";
}

.start_watching {
  /* height: 170px; */
  background-color: #79a902;
  margin: 4px 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM3OWE5MDIiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzg4YmUwMyIvPjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjODhiZTAzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
  background-size: 100%;
  background-image: -moz-linear-gradient(
    315deg,
    #79a902 50%,
    #88be03 51%,
    #88be03 51%
  );
  background-image: -webkit-linear-gradient(
    315deg,
    #79a902 50%,
    #88be03 51%,
    #88be03 51%
  );
  background-image: linear-gradient(
    135deg,
    #79a902 50%,
    #88be03 51%,
    #88be03 51%
  );
  background-size: 170px 170px;
  background-position: right bottom;
  background-repeat: no-repeat;
  position: relative;
  padding: 2rem;

  color: #fff;
}

.go_button {
  position: absolute;
  background-position: 0.9px -794px;
  cursor: pointer;
  height: 136px;
  width: 136px;
  border-radius: 50%;
  top: 28px;
  right: 34px;
  /* background-position: 0 -794px; */
  height: 138px;
  width: 138px;
  top: 20px;
  right: 35px;
  border: none;
  background-color: transparent;

  background-image: url(../utils/imgs/transparent-s652f07523c.png);
  background-repeat: no-repeat;
}
.go_button:hover {
  background-position: 1px -652px;
  height: 140px;
  width: 139px;
}
.stop_btn {
  height: 55px;
  background-color: #f02112;
  color: #fff;
  border: none;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmMDIxMTIiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y2MzgzNSIvPjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZjYzODM1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
  background-size: 100%;
  background-image: -moz-linear-gradient(
    315deg,
    #f02112 50%,
    #f63835 51%,
    #f63835 51%
  );
  background-image: -webkit-linear-gradient(
    315deg,
    #f02112 50%,
    #f63835 51%,
    #f63835 51%
  );
  background-image: linear-gradient(
    135deg,
    #f02112 50%,
    #f63835 51%,
    #f63835 51%
  );
  background-position: right bottom;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 38px;
  font-family: "helvetica_neue_regular";
  margin: 0;
}
