.testimonials {
  padding: 2rem 0;
}
.testimonialsHeader {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonials::-webkit-scrollbar {
  /* display: none; */
}
.testimonials::-webkit-scrollbar {
  height: 12px;
}

.testimonials::-webkit-scrollbar-track {
  background: transparent;
}

.testimonials::-webkit-scrollbar-thumb {
  background: #0b5cd5;
  border-radius: 12px;
}
.testimonialsHeader > h1 {
  color: #0b5cd5;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 117.647% */
  letter-spacing: -0.4px;
}
.testimonials {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
}

.testimonialBox {
  padding: 2rem;
  border-radius: 2rem;
  min-width: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  border-radius: 8px;

  text-align: center;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
}
.testimonialBox > h1 {
  color: #212529;
  /* color: #0b5cd5; */
  letter-spacing: -0.9px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.profileBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.profileImg > img {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.profileBox > p {
  color: #0b5cd5;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}
.testimonialCta {
  display: flex;
  /* width: 100%; */
  /* margin-top: 2rem; */
  gap: 1.5rem;
  /* justify-content: flex-end; */
}
.testimonialCta > button {
  border: none;
  border-radius: 100px;
  background: #e6f0ff;
  height: 44px;
  width: 44px;
}
