.testimonials {
  padding: 2rem 0;
}

.testimonialsHeader {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonial_cta {
  display: flex;
  gap: 15px;
}
.testimonial_cta > button {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}
.testimonial_cta > button svg {
  height: 22px;
  fill: #222;
  width: 22px;
}

.testimonialsHeader > h1 {
  color: #000;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  letter-spacing: -0.6px;
}
.testimonials {
  width: 100%;
  overflow-x: auto;
  gap: 5rem;
  transition: all 0.2s;
  display: flex;
  padding-inline: 10px;
  /* grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); */
  margin-top: 2rem;
}

.testimonialBox {
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  border-radius: 8px;
  min-width: 500px;
  border: 1px solid #ccc;
  text-align: center;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
}
.testimonialBox > h1 {
  color: #212529;
  letter-spacing: -0.6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.profileBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.profileImg > img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}
.profileBox > p {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}
.testimonialCta {
  display: flex;
  /* width: 100%; */
  /* margin-top: 2rem; */
  gap: 1.5rem;
  /* justify-content: flex-end; */
}
.testimonialCta > button {
  border: none;
  border-radius: 100px;
  background: #e6f0ff;
  height: 44px;
  width: 44px;
}
@media screen and (max-width: 650px) {
  .testimonialsHeader {
    padding: 0;
  }
  .testimonialsHeader > h1 {
    font-size: 2.6rem;
  }
  .testimonials {
    margin-top: 0;
  }
}
