.reviews {
  padding-block: 40px;
  padding-inline: 40px;
}

.testimonials {
  display: flex;
  text-align: center;
  gap: 20px;
  padding: 50px 0;
}
.testimonial {
  padding: 6rem 8rem;
}
.testimonial--author > h5 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.testimonial--job {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.testimonial--body > p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #9999;
}
.testimonial--img {
  margin-bottom: 20px;
}
.testimonial--img > img {
  height: 80px;
  width: 80px;
}
.testimonial:hover {
  background-color: #f8f8f8;
}
@media screen and (max-width: 1054px) {
  .testimonials {
    padding: 25px 0;
    flex-direction: column;
  }
  .testimonial {
    padding: 4rem 8rem;
  }
}
