.ManageVideosWrapper {
  padding: 2rem 0;
  width: 100%;
  padding-right: 4rem;
  height: 100%;
  margin-bottom: 2rem;
  /* overflow-y: auto; */
}
.addVideoCta {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-bottom: 2rem;
}
.addVideoCta > button {
  background-color: #184f90;
  padding: 1.5rem 5rem;
  border-radius: 5rem;
  border: none;
  color: #fff;
}
.ManageVideosWrapper > header {
  width: 100%;
  margin-bottom: 4rem;
  border-bottom: 1px solid #cccc;
}
.ManageVideosWrapper > header > h1 {
  font-weight: 400;
  font-size: 3.2rem;
  padding-block: 20px;
}
.videosBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.videoBox {
  display: flex;
  width: 100%;
  align-items: center;
  background: #fff;

  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  border-radius: 1.3rem;
  overflow: hidden;
}
.videoBox > img {
  height: 85px;
  width: 10%;
  object-fit: cover;
}
.videoBoxDetails {
  display: flex;
  padding-inline: 3rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.videoBoxDetails > h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #212529;
  text-transform: capitalize;
}
.mediaHeader {
  font-size: 2.5rem;
  font-weight: 500;
  color: #00365a;
  text-transform: uppercase;
  text-align: capitalize;
}
.videoBoxDetails > span {
  font-size: 11px;
}
.videoBoxDetails > button {
  padding: 1.5rem;
  font-size: 1.2rem;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  background-color: #00365a;
  color: #fff;
}
.videoBox .cta {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.videoBox .cta > button,
.videoBox .cta > a {
  font-size: 2.2rem;
  background: none;
  border: none;
  color: #00365a;
  cursor: pointer;
}
.nouser {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}
.nouser > h1 {
  font-weight: 400;
}
