.ManageVideosWrapper {
  padding: 2rem 0;
  width: 100%;
  padding-right: 4rem;
  height: 100%;
  margin-bottom: 2rem;
  /* overflow-y: auto; */
}
.addVideoCta {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-bottom: 2rem;
}

.ManageVideosWrapper > header {
  width: 100%;
  margin-bottom: 4rem;
  border-bottom: 1px solid #cccc;
}
.ManageVideosWrapper > header > h1 {
  font-size: 3.2rem;
  font-weight: 400;
  padding-block: 20px;
}
.videosBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.videoBox {
  display: flex;
  width: 100%;
  align-items: center;
  background: #fff;
  height: 80px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  border-radius: 1.3rem;
  overflow: hidden;
}
.img_box {
  padding-inline: 30px;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8ec2e5;
}
.img_box > svg {
  height: 40px;
  width: 40px;
}
.videoBox .img_box > img {
  object-fit: contain;
  width: 100%;
  background: #c9c9c9;
  height: 100%;
  display: block;
}
.videoBoxDetails {
  display: flex;
  padding-inline: 3rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.videoBoxDetails > h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #212529;
  text-transform: capitalize;
}
.mediaHeader {
  font-size: 2.5rem;
  font-weight: 500;
  color: #00365a;
  text-transform: uppercase;
  text-align: capitalize;
}
.videoBoxDetails > span {
  font-size: 11px;
}
.videoBoxDetails > button {
  padding: 1.5rem;
  font-size: 1.2rem;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  background-color: #00365a;
  color: #fff;
}
.videoBox .cta {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.videoBox .cta > button,
.videoBox .cta > a {
  font-size: 2.2rem;
  background: none;
  border: none;
  color: #00365a;
  cursor: pointer;
}
.videoBox .cta svg {
  height: 30px;
  width: 30px;
}
.nouser {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}
.nouser > h1 {
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .ManageVideosWrapper {
    padding: 0rem;
  }
  .img_box {
    padding-inline: 1.5rem;
    padding-right: 2rem;
  }

  .videoBoxDetails {
    padding-inline: 2rem;
  }
  .videoBox .cta {
    gap: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .ManageVideosWrapper > header {
    margin-bottom: 2rem;
  }
  .ManageVideosWrapper > header > h1 {
    font-size: 2.8rem;
  }
  .mediaHeader {
    font-size: 2.2rem;
  }
  .videoBoxDetails > h1 {
    font-size: 1.65rem;
  }
  .img_box > svg {
    height: 35px;
    width: 35px;
  }
}
