.StretcherProfileWrapper {
  min-height: 100vh;
  margin-top: 10rem;
  /* background: rgb(235, 239, 240); */
}
.StretcherProfileMain {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.profile_box {
  width: 50rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: #fff;
}

.profile_title {
  font-size: 24px;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 2rem;
}

.profile_input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
}
.inputContainer {
  position: relative;
  display: block;
}
.inputContainer > input {
  border-radius: 0.2rem;
  width: 50%;
  outline: initial !important;
  box-shadow: initial !important;
  font-size: 1.4rem;
  padding: 1.5rem;
  line-height: 1;
  border: 0.1rem solid #d7d7d7;
  background: #fff;
  color: #3a3a3a;
  width: 100%;

  border-color: #d7d7d7;
  height: calc(2em + 0.8rem);
}

.inputContainer > span {
  position: absolute;
  cursor: text;
  font-size: 1.2rem;
  opacity: 1;
  top: -0.4em;
  left: 0.75rem;
  z-index: 3;
  font-weight: 300;
  line-height: 1;
  background-color: #ffff;
  padding: 0 1px;
}
.inputContainer:not(:last-child) {
  margin-bottom: 2rem;
}

.inputContainer > span::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.5rem;
  top: 0.3rem;
  left: -0.2em;
  right: -0.2em;
  z-index: -1;
}

.profile_save__button {
  background-color: #094bac;
  margin-right: auto;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  align-items: left;
  cursor: pointer;
  letter-spacing: -0.9px;
  font-size: 18px;
}

.profile_save__button:hover {
  opacity: 0.9;
}
