.hero_wrapper {
  text-align: center;
  height: 600px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  background-image: url(../../../utils/imgs/bghome.jpg);
}
.overlay {
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.34);
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
.hero_wrapper > h1 {
  color: #fff;
  font-size: 64px;
  z-index: 2;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: -2px;
  margin-bottom: 2rem;
}
.hero_wrapper > p {
  color: #fff;
  /* text-align: right; */
  z-index: 2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  max-width: 600px;
  margin: 0 auto;
  letter-spacing: -0.9px;
  line-height: 30px; /* 162.5% */
  margin-bottom: 2rem;
}

.hero_wrapper > button {
  z-index: 2;
  border-radius: 3.9rem;
  background: #094bac;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  color: #fff;
  line-height: 3.4rem;
}

.hero_wrapper > button:hover {
  animation: pulse 0.3s;
  box-shadow: 0 0 0 2em transparent;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #0b5cd5;
  }
}
@media screen and (max-width: 1024px) {
  .hero_wrapper > h1 {
    font-size: 55px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 650px) {
  .hero_wrapper > h1 {
    font-size: 38px;

    padding-inline: 20px;
  }
  .hero_wrapper > p {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 420px) {
  .hero_wrapper > h1 {
    font-size: 30px;
    padding-inline: 15px;
  }
  .hero_wrapper > button {
    padding: 1rem 2rem;
  }
}
