.listOfStrechesWrapper {
  margin-top: 10rem;
  padding: 3.2rem;
}
.listOfStrechesWrapper > header {
  padding-top: 4.8rem;
  text-align: center;
  border-bottom: solid 1px #0b5cd5;
  padding: 2rem 0;
}
.listOfStrechesWrapper > header > h1 {
  font-size: 4rem;
  letter-spacing: -0.6px;
  color: #0b5cd5;
  margin-bottom: 2rem;
}
.listOfStrechesWrapper > header > h1 > i {
  color: #000;
}
.listOfStrechesWrapper > header > p {
  font-size: 1.8rem;
  line-height: 35px;
  letter-spacing: -0.6px;
  max-width: 90rem;
  color: #212529;
  margin: 0 auto;
}

.listSummary {
  font-size: 18px;

  letter-spacing: -0.6px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.excercises {
  padding-top: 4.8rem;
  display: flex;
  flex-direction: column;
  padding: 4.8rem 0;
  /* gap: 4.8rem; */
}

.excercise {
  display: flex;
  justify-content: space-between;

  gap: 3.4rem;
  /* align-items: center; */
}
.excercise:not(:last-child) {
  margin-bottom: 10rem;
}
.excercise .textbox {
  position: sticky;
  width: 50%;
  top: 0;
  padding-top: 15rem;
  height: 100%;
}
.excercise .textbox > h1 {
  font-size: 3.2rem;
  color: #0b5cd5;
  margin-bottom: 2.5rem;
}
.excercise .textbox .procedures {
  font-size: 1.6rem;
  color: #212529;
  letter-spacing: -0.6px;
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
.procedures li {
  display: flex;
  align-items: flex-start;
}
.procedures li::before {
  content: "\2022";
  color: #000;
  font-size: 1.2em;
  margin-right: 10px;
}

.excercise .textbox .procedures > li > a {
  color: #0b5cd5;
  display: inline-block;
  line-height: 28px;
  font-size: 1.4rem;
}
.img_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.img_box > div {
  background: #dee2e6;
  height: 250px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .listOfStrechesWrapper > header > h1 {
    font-size: 3.8rem;
  }
  .listOfStrechesWrapper {
    padding: 2rem;
  }
  .excercise {
    flex-direction: column;
  }
  .excercise:not(:last-child) {
    margin-bottom: 5rem;
  }
  .excercise:nth-of-type(even) {
    flex-direction: column-reverse;
  }
  .excercise > div {
    width: 100%;
  }
  .excercise > .textbox {
    width: 90%;
    padding-top: unset;
    position: unset;
  }
  .listSummary {
    font-size: 16px;
    line-height: 25px;
  }
  .excercise .textbox .procedures {
    line-height: 22px;
    text-align: left;
  }
}

@media screen and (max-width: 650px) {
  .listOfStrechesWrapper > header > h1 {
    font-size: 3.2rem;
  }
  .excercise > .textbox {
    width: 100%;
  }
  .excercise .textbox > h1 {
    font-size: 2.4rem;
  }
  .listOfStrechesWrapper > header > p {
    font-size: 1.6rem;
    line-height: 28px;
    max-width: unset;
  }
}

@media screen and (max-width: 420px) {
  .listOfStrechesWrapper > header > h1 {
    font-size: 2.8rem;
  }
  .excercise .textbox .procedures > li {
    font-size: 1.6rem;
    line-height: 28px;
  }

  .excercise .textbox > h1 {
    font-size: 2.2rem;
  }
}
