.users__overview {
  width: 100%;
  padding-right: 4rem;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.tableWrapper {
  /* width: 100%; */
}
.users__overview > header {
  width: 100%;
  border-bottom: 1px solid #cccc;
}
.users__overview > header > h1 {
  font-weight: 400;
  font-size: 3.2rem;
  padding-block: 20px;
}
.buttonContainer {
  display: flex;
  width: 100%;
  align-items: flex-end;
  padding: 2rem 0;
  margin-top: 2rem;
  margin-left: auto;
  justify-content: right;
}

.users__overview > div > button {
  background-color: #184f90;
  padding: 1.5rem 3.5rem;
  border-radius: 5rem;
  border: none;
  color: #fff;
}
.paginationButtons {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  margin-top: 20px;
  gap: 30px;
}
.paginationButtons > button {
  background-color: #184f90;
  padding: 0.6rem 3rem;
  border-radius: 5rem;
  border: none;
  color: #fff;
  font-size: 1.6rem;
}
.paginationButtons > button:disabled {
  background: #4444;
}
