.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1.5rem 2.5rem;
  width: 100%;

  z-index: 12;
  margin-bottom: 4rem;
  border-bottom: solid 3px #00365a;
}

.logo:link,
.logo:visited {
  display: flex;
  color: #00365a;
  width: 100%;
  gap: 2rem;
  white-space: nowrap;
  margin-right: auto;
  width: 80%;
  align-items: center;
  text-decoration: none;
}
.logo:link,
.logo:visited > img {
  height: 5.5rem;
  width: 5.5rem;
}
.logo:link,
.logo:visited > h1 {
  font-size: 1.2rem;
}
.header__right {
  display: flex;
  gap: 15px;
  align-items: center;
}
.profile {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile > img {
  height: 50px;
  width: 50px;
  border: solid 2px #00365a;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.profile > span {
  font-weight: 700;
  font-size: 1.4rem;
}

.link:link,
.link:visited {
  margin-left: auto;
  text-decoration: none;
  font-size: 20px;
  color: #212529;
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: auto;
  letter-spacing: -0.9px;
  text-decoration: underline;
  transition: all 0.3s;
  border-right: solid 2px #000;
  padding-right: 10px;
}
.link:active,
.link:hover {
  color: #00365a;
}
.dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 100%;
  right: 0;
  padding: 1.5rem;
  justify-content: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-transform: none;
  text-decoration: none;
  padding-bottom: 2rem;
  display: none;
}
.dropdown > a:link,
.dropdown > a:visited {
  text-decoration: none;
  white-space: nowrap;
  color: #2b2b2b;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.6rem;
  border-radius: 8px;
  padding: 0.5rem;
}

.dropdown span {
  color: #e62c2c;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1.6rem;
}
.dropdown span:hover,
.dropdown > a:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.profile:hover .dropdown {
  display: flex;
}
